In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [3]:
test_ = pd.read_csv('test.csv')

In [4]:
df = pd.concat(map(pd.read_csv, ['train.csv', 'test.csv']), ignore_index=True)

In [5]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,NaN
12966,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,NaN
12967,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,NaN
12968,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,NaN
12969,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,NaN

In [6]:
df = df.drop(['PassengerId', 'Name'], axis=1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12970 entries, 0 to 12969
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    12682 non-null  object
 1   CryoSleep     12660 non-null  object
 2   Cabin         12671 non-null  object
 3   Destination   12696 non-null  object
 4   Age           12700 non-null  float64
 5   VIP           12674 non-null  object
 6   RoomService   12707 non-null  float64
 7   FoodCourt     12681 non-null  float64
 8   ShoppingMall  12664 non-null  float64
 9   Spa           12686 non-null  float64
 10  VRDeck        12702 non-null  float64
 11  Transported   8693 non-null   object
dtypes: float64(6), object(6)
memory usage: 1.2+ MB

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in range(11):
    if df.iloc[:,i].dtypes == 'O':
        x = df.iloc[:,i].values.reshape(-1,1)
        df.iloc[:,i] = le.fit_transform(x)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12970 entries, 0 to 12969
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    12970 non-null  int32
 1   CryoSleep     12970 non-null  int32
 2   Cabin         12970 non-null  int32
 3   Destination   12970 non-null  int32
 4   Age           12700 non-null  float64
 5   VIP           12970 non-null  int32
 6   RoomService   12707 non-null  float64
 7   FoodCourt     12681 non-null  float64
 8   ShoppingMall  12664 non-null  float64
 9   Spa           12686 non-null  float64
 10  VRDeck        12702 non-null  float64
 11  Transported   8693 non-null   object
dtypes: float64(6), int32(5), object(1)
memory usage: 962.7+ KB

C:\Users\taksa\Anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [9]:
df.isnull().sum()

HomePlanet         0
CryoSleep          0
Cabin              0
Destination        0
Age              270
VIP                0
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Transported     4277
dtype: int64

In [10]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
x = df['Age'].values.reshape(-1,1)
df['Age'] = imp.fit_transform(x)
df.isnull().sum()

HomePlanet         0
CryoSleep          0
Cabin              0
Destination        0
Age                0
VIP                0
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Transported     4277
dtype: int64

In [11]:
arr = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
for i in arr:
    x = df[i].values.reshape(-1,1)
    df[i] = imp.fit_transform(x)
df.isnull().sum()

HomePlanet         0
CryoSleep          0
Cabin              0
Destination        0
Age                0
VIP                0
RoomService        0
FoodCourt          0
ShoppingMall       0
Spa                0
VRDeck             0
Transported     4277
dtype: int64

In [12]:
train = df.iloc[:8693,:]
test = df.iloc[8693:,:]

In [13]:
test = test.drop(['Transported'], axis=1)

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x = train['Transported'].values.reshape(-1,1)
train['Transported'] = le.fit_transform(x)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   int32
 1   CryoSleep     8693 non-null   int32
 2   Cabin         8693 non-null   int32
 3   Destination   8693 non-null   int32
 4   Age           8693 non-null   float64
 5   VIP           8693 non-null   int32
 6   RoomService   8693 non-null   float64
 7   FoodCourt     8693 non-null   float64
 8   ShoppingMall  8693 non-null   float64
 9   Spa           8693 non-null   float64
 10  VRDeck        8693 non-null   float64
 11  Transported   8693 non-null   int32
dtypes: float64(6), int32(6)
memory usage: 611.4 KB

C:\Users\taksa\Anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\taksa\AppData\Local\Temp/ipykernel_14656/1911358765.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Transported'] = le.fit_transform(x)

In [15]:
y = train['Transported']
x = train.drop(['Transported'], axis=1)

In [16]:
x

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,1,0,208,2,39.0,0,0.0,0.0,0.0,0.0,0.0
1,0,0,3241,2,24.0,0,109.0,9.0,25.0,549.0,44.0
2,1,0,1,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0
3,1,0,1,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0
4,0,0,3243,2,16.0,0,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,205,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0
8689,0,1,7962,1,18.0,0,0.0,0.0,0.0,0.0,0.0
8690,0,0,7968,2,26.0,0,0.0,0.0,1872.0,1.0,0.0
8691,1,0,3157,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0
8692,1,0,3157,2,44.0,0,126.0,4688.0,0.0,0.0,12.0

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [18]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()

x_train_min = mms.fit_transform(x_train)
x_test_min = mms.transform(x_test)

In [19]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()

x_train_norm = std.fit_transform(x_train)
x_test_norm = std.transform(x_test)

In [20]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import make_pipeline
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score


knn = make_pipeline( PCA(n_components=8), KNeighborsClassifier(n_neighbors=18))
knn.fit(x_train_min, y_train)
pred_test_std = knn.predict(x_test_min)
print(accuracy_score(y_test, pred_test_std))

0.7171113155473781

In [23]:
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train, y_train)
pred_test_std = knn.predict(x_test)
accuracy_score(y_test, pred_test_std)

0.7529898804047838

In [24]:
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train_min, y_train)
pred_test_std = knn.predict(x_test_min)
accuracy_score(y_test, pred_test_std)

0.7488500459981601

In [25]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=47)
clf.fit(x_train_min, y_train)
pred = clf.predict(x_test_min)
print(accuracy_score(y_test, pred))

0.7667893284268629

In [26]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train_norm, y_train.values.ravel())
Y_pred = lr.predict(x_test_norm)
print(accuracy_score(y_test, Y_pred))

0.7695492180312787

In [27]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(x_train_norm, y_train)
Y_pred = dtc.predict(x_test_norm)
print(accuracy_score(y_test, Y_pred))

0.7226310947562098